@font-face {
  font-family: RobotoFlex;
  font-display: swap;
  src: url("../fonts/RobotoFlex.woff2") format("woff2"), url("../fonts/RobotoFlex.woff") format("woff");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
}

/*reset*/

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

aside,
footer,
header,
legend,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  box-shadow: none;
  background: 0 0;
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus {
  outline: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

.body * {
  font-family: RobotoFlex !important;
}

/* main styles */

.wrap {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 196px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;
  max-width: 695px;
  width: 100%;
}

.header-nav__item {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-nav__item:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.header-nav__item:hover:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

/*menu-mob*/

#menu__toggle,
#close__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked ~ .menu {
  visibility: visible;
  right: 0;
}

.menu {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  transition-duration: 0.25s;
  max-width: 1280px;
  width: 100%;
  padding: 22px 46px 32px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F01B0D;
}

.menu a {
  color: #FFFFFF;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.menu__content {
  max-width: 584px;
  width: 100%;
  margin: 0 auto;
}

.menu_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.menu__nav-item {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 30px;
}

.menu__nav-item:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.menu__nav-item:hover:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.menu__sport-list li {
  cursor: pointer;
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 14px;
}

.menu__sport-list li:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.menu__sport-list li:hover:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.menu__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
  margin-right: 15px;
}

.menu__social .menu__social-link svg {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 100px;
}

.menu__social .menu__social-link svg:hover,
.menu__social .menu__social-link svg:active {
  transition-duration: 0.25s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #f01b0d;
}

.menu__social .menu__social-link svg:hover path,
.menu__social .menu__social-link svg:active path {
  fill: #FFFFFF;
}

.menu__footer {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.menu__footer-text {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 14px;
}

.form-menu {
  font-family: RobotoFlex;
  max-width: 525px;
  width: 100%;
  display: flex;
  gap: 20px;
}

.form-menu__input {
  width: 300px;
  height: 28px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.form-menu__input::-moz-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.form-menu__input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.form-menu__btn {
  max-width: 201px;
  width: 100%;
  height: 40px;
  left: 1033px;
  top: 677px;
  background: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(3, 0, 172, 0.1);
  border-radius: 100px;
  color: red;
}

.form-menu__btn:hover {
  max-width: 199px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #f01b0d;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.menu__footer-advert a {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 300;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.close-btn:hover {
  opacity: 0.7;
}

#close-btn:checked ~ .menu {
  visibility: hidden;
  top: 0;
  right: -100%;
}

.no-webp .first {
  background: url("../img/bg1-lg.jpg") 100% 2% no-repeat; }

.first {
  padding: 30px 0 154px;
  color: #ffffff;
  background-size: cover;
}

h1 {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.first__content {
  max-width: 656px;
  width: 100%;
  margin: 0 auto;
}

.first__subtitle {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 9px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.red-menu {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F01B0D;
  padding: 21px 0;
}

.sport-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 160px;
  gap: 50px;
}

.sport-list__item {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.sport-list__item:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.sport-list__item:hover:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.articles {
  padding-top: 40px;
}

.articles-row {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

.articles-title {
  font-family: "RobotoFlex";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.article {
  max-width: 640px;
  width: 100%;
}

.img-article {
  margin-bottom: 20px;
}

.article__bc {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: #828282;
  margin-bottom: 10px;
}

.hash {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.article__title {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #1F1F1F;
  margin-bottom: 10px;
}

.article__description {
  color: #828282 !important;
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.no-webp .article-black {
  background: url(../img/news-2.jpg); }

.article-black {
  max-width: 640px;
  width: 100%;
  padding: 389px 20px 20px 20px;
  border-radius: 2px;
}

.article-black * {
  color: #fff;
}

.no-webp .webp .article-black {
  background-image: url(../img/news-2.jpg); }

.webp .article-black {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.men {
  text-align: center;
  display: flex;
  margin: 81px 0 80px;
  gap: 40px;
}

.men-item {
  max-width: 300px;
  width: 100%;
}

.men-title {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.men-img {
  margin-bottom: 10px;
  margin-right: 48px;
}

.men-subtitle {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.men-description {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.no-webp .for-fans {
  background: url(../img/bg2-lg.jpg) center no-repeat; }

.for-fans {
  font-family: RobotoFlex;
  padding: 250px 0 180px;
  color: #fff;
}

.for-fans__content {
  max-width: 655px;
  width: 100%;
  margin: 0 auto;
}

.for-fans__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.for-fans__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.social {
  padding: 58px 0 60px;
}

.social .wrap {
  max-width: 1400px;
}

.social__title {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.social__row {
  display: flex;
  justify-content: space-between;
}

.social__content {
  max-width: 680px;
  width: 100%;
}

.social__media {
  background: #F01B0D;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 66px 0 62px;
  gap: 24px;
}

.social__media-link svg:hover,
.social__media-link svg:active {
  transition-duration: 0.25s;
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 100px;
}

.social__media-link svg:hover path,
.social__media-link svg:active path {
  fill: #F01B0D;
}

.social__form {
  max-width: 680px;
  width: 100%;
  background: #000000;
  border-radius: 2px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 65px 0 70px;
  gap: 20px;
}

.form-input {
  font-family: "RobotoFlex";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  width: 379px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.form-btn {
  font-family: "RobotoFlex";
  max-width: 200px;
  margin-top: 5px;
  height: 40px;
  width: 100%;
  background: #F01B0D;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.form-btn:hover {
  background: transparent;
  border: 1px solid #F01B0D;
  color: #F01B0D;
}

.no-webp .extreme {
  background: url(../img/bg3-lg.jpg) center no-repeat; }

.extreme {
  padding: 249px 0 151px;
  color: #fff;
  font-family: RobotoFlex;
}

.extreme__content {
  max-width: 658px;
  width: 100%;
  margin: 0 auto;
}

.extreme__subtitle {
  max-width: 389px;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.extreme__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 20px;
}

footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F01B0D;
  padding: 33px 0 22px;
  color: #fff;
  font-family: RobotoFlex;
}

footer .wrap {
  max-width: 1378px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  max-width: 1187px;
  width: 100%;
}

.footer-menu .footer-menu__item:nth-child(2) {
  padding-left: 77px;
}

.footer-menu .footer-menu__item:nth-child(3) {
  padding-left: 52px;
}

.footer-menu .footer-menu__item:nth-child(4) {
  line-height: 24px;
  text-transform: capitalize;
}

.footer-menu .footer-menu__item:nth-child(4) a {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  text-transform: lowercase;
}

.footer-menu__item {
  font-family: RobotoFlex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-menu__item:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.footer-menu__item:hover:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 45px;
  margin-right: 15px;
}

.footer__social .footer__social-link svg {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 100px;
}

.footer__social .footer__social-link svg:hover,
.footer__social .footer__social-link svg:active {
  transition-duration: 0.25s;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #f01b0d;
}

.footer__social .footer__social-link svg:hover path,
.footer__social .footer__social-link svg:active path {
  fill: #FFFFFF;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.copyright {
  display: flex;
  gap: 10px;
  margin-right: 18px;
}

@media (max-width: 1024px) {
  .wrap {
    padding: 0 10px;
  }

  .no-webp .first {
    background: url("../img/bg1-sm.jpg") 0 60% no-repeat; }

  .first {
    background-size: cover !important;
  }

  .articles-row {
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
  }

  .article {
    max-width: 360px;
    width: 100%;
  }

  .article-black {
    padding: 166px 20px 20px 20px;
  }

  .men {
    flex-wrap: wrap;
    gap: 40px 90px;
    justify-content: center;
  }

  .no-webp .for-fans {
    background: url("../img/bg2-sm.jpg") no-repeat; }

  .for-fans {
    background-size: cover !important;
    padding: 123px 0 44px;
    color: #fff;
  }

  .social {
    padding: 40px 0;
  }

  .social__media {
    padding: 70px 0;
  }

  .social__row {
    justify-content: center;
    gap: 20px;
  }

  .social__row .social__content:nth-child(1) {
    max-width: 505px;
  }

  .social__row .social__content:nth-child(2) {
    max-width: 225px;
  }

  .form {
    padding: 44px 12.5px;
    flex-wrap: wrap;
  }

  .no-webp .extreme {
    background: url("../img/bg3-sm.jpg") no-repeat; }

  .extreme {
    background-size: cover !important;
    padding: 114px 0 44px;
  }
}

@media (max-width: 900px) {
  .header-nav {
    justify-content: flex-end;
  }

  .header-nav__item {
    display: none;
  }

  .menu__btn {
    display: block;
  }

  .menu {
    max-width: 600px;
  }

  #menu__toggle:checked ~ .menu {
    height: 100%;
    overflow-y: scroll;
  }

  .menu__footer-advert {
    margin-bottom: 25px;
  }

  .form-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu__header {
    margin-bottom: 50px;
  }

  .menu_links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .menu__social {
    flex-wrap: wrap;
  }

  .menu__footer {
    flex-direction: column;
  }

  .red-menu {
    padding: 0;
  }

  .sport-list {
    padding: 0;
    justify-content: flex-start;
    min-width: 100%;
    min-height: 60px;
    overflow-x: auto;
  }

  .sport-list::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 630px) {
  .menu__header {
    margin-bottom: 25px;
  }

  .menu__nav-item {
    margin-bottom: 15px;
  }

  .articles {
    padding: 30px 0;
  }

  .articles .wrap {
    padding: 0;
  }

  .articles-row {
    flex-wrap: wrap;
  }

  .article__bc,
  .article__title,
  .article__description {
    padding: 0 15px;
  }

  .article-black .article__bc,
  .article-black .article__title,
  .article-black .article__description {
    padding: 0;
  }

  .no-webp .article-black {
    background: url(../img/news-2xs.jpg) no-repeat; }

  .article-black {
    background-size: cover !important;
    padding: 99px 20px 20px 20px;
    margin: 0 15px;
  }

  .article__title {
    font-size: 16px;
    line-height: 20px;
  }

  .article__description {
    font-size: 14px;
    line-height: 18px;
  }

  .no-webp .for-fans {
    background: url("../img/bg2-xs.jpg") no-repeat; }

  .for-fans {
    background-size: cover !important;
    padding: 93px 0 88px;
  }

  .for-fans__title {
    font-size: 20px;
    line-height: 23px;
  }

  .social {
    padding: 30px 0;
  }

  .social__content {
    max-width: 100% !important;
    width: 100%;
  }

  .social__title {
    padding-left: 15px;
  }

  .social__media {
    padding: 36px 0;
    flex-wrap: wrap;
    gap: 12px;
  }

  .social .wrap {
    padding: 0;
  }

  .social__row {
    flex-wrap: wrap;
  }

  .form-input {
    width: 200px;
  }

  .no-webp .extreme {
    background: url("../img/bg3-xs.jpg") no-repeat; }

  .extreme {
    background-size: cover !important;
    padding: 99px 0 88px;
  }

  .extreme__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .extreme__subtitle {
    max-width: 264px;
    font-size: 14px;
    line-height: 18px;
  }

  .extreme__content {
    max-width: 264px;
    width: 100%;
    margin: 0 auto;
  }

  .footer-menu {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .logo-footer {
    display: block;
    margin: 0 auto 40px;
  }

  .footer-menu .footer-menu__item:nth-child(2) {
    padding-left: 0;
  }

  .footer-menu .footer-menu__item:nth-child(3) {
    padding-left: 0;
  }

  .footer-menu__item {
    text-align: center;
    margin-bottom: 40px;
  }

  .footer__social {
    gap: 12px;
    flex-wrap: wrap;
  }

  .footer__copyright {
    flex-wrap: wrap;
    justify-content: center;
  }

  .copyright {
    margin-bottom: 14px;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .header {
    margin-bottom: 42px;
  }

  .no-webp .first {
    background: url("../img/bg1-xs.jpg") 0 60% no-repeat; }

  .first {
    background-size: cover !important;
    padding: 30px 0 20px;
  }

  h1 {
    font-size: 20px;
    line-height: 23px;
  }

  .sport-list {
    min-height: 45px;
    gap: 25px;
  }
}

@media (max-width: 320px) {
  .for-fans__content {
    max-width: 255px;
  }
}

.webp .first { background: url(../img/bg1-lg.webp) 100% 2% no-repeat; }

.webp .article-black { background: url(../img/news-2.webp); }

.webp .webp .article-black { background-image: url(../img/news-2.webp); }

.webp .for-fans { background: url(../img/bg2-lg.webp) center no-repeat; }

.webp .extreme { background: url(../img/bg3-lg.webp) center no-repeat; }

@media (max-width: 1024px) {

  .webp .first { background: url(../img/bg1-sm.webp) 0 60% no-repeat; }
}

@media (max-width: 1024px) {

  .webp .for-fans { background: url(../img/bg2-sm.webp) no-repeat; }
}

@media (max-width: 1024px) {

  .webp .extreme { background: url(../img/bg3-sm.webp) no-repeat; }
}

@media (max-width: 630px) {

  .webp .article-black { background: url(../img/news-2xs.webp) no-repeat; }
}

@media (max-width: 630px) {

  .webp .for-fans { background: url(../img/bg2-xs.webp) no-repeat; }
}

@media (max-width: 630px) {

  .webp .extreme { background: url(../img/bg3-xs.webp) no-repeat; }
}

@media (max-width: 400px) {

  .webp .first { background: url(../img/bg1-xs.webp) 0 60% no-repeat; }
}